<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>

<body>
<div>
    <form th:action="@{/auth}" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
        <br/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <div class="form-actions">
                <button type="submit" class="btn">Login</button>
            </div>
    </form>
    <br/>
    <br/>
    <a href="/registration">Registration</a>
</div>
</body>
</html>